<footer>
    <div class="footerContent centered">
        &copy;2021 Quincy Computers
        <br>
        <a href="./privacy.html">Privacy Policy</a> | <a href="./contact.html">Contact</a> | <a href="./services.html">Services</a>
        <br>
        Site Credits: Paul Rayment
    </div>
</footer>