<header class="header-desktop sticky" style="text-align:center;">
    <!--
        
    -->
    <div class="links">
        <a href="./index.html">Home</a>
        <a href="./services.html">Services</a>
        <a class="logo" href="./index.html">
            <img src="./images/logo.png" height="48" alt="Quincy Computers Logo">
        </a>
        <a href="./rates.html">Rates</a>
        <a href="./contact.html">Contact</a>
    </div>
</header>

<header class="header-mobile sticky">
    <a onclick="toggleMobileNav()" style="font-size:200%;color:rgb(68, 163, 226);cursor:pointer">≡</a>
    <div class="mobile-nav-container" style="display:none;">
        <a href="./index.html">Home</a>
        <a href="./services.html">Services</a>
        <a href="./rates.html">Rates</a>
        <a href="./contact.html">Contact</a>
    </div>
</header>