<!DOCTYPE html5>
<html lang="en">

<head>
    <link rel="stylesheet" href="../css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>Services - Quincy Computers</title>

    <meta name="Description" content="List of services for Quincy Computers.">
    <meta name="keywords" content="Services, Quincy, Computer, Computers, Reapir, Service">

    <script src="scripts/jquery.js"></script>
    <script src="scripts/navbar.js"></script>
</head>

<body>
    <%- include('includes/header'); %>

    <article class = "content centered">
        <br>
        <h1 style="font-size: 32px">Our Services</h1>
        <hr>

        <div class = "services-container">
            <section class = "service">
                <div class="service-image" style="background-image: url(images/services1.png);"></div>
                <div class="service-title">Device Tune-Up</div>
                <div class="service-details">
                    <div>
                        We provide tune-ups for your device for faster operating speed. Our tune-ups speed up the performance of your device and we will ensure the removal of computer viruses along with privacy risks to your computer.                
                    </div>
                </div> 
            </section>

            <section class = "service">
                <div class="service-image" style="background-image: url(images/services1.png);"></div>
                <div class="service-title">Device setup/Repair</div>
                <div class="service-details">
                    <div>
                        If you have issues with setting up a device, or are having troubles with a currently existing device we can come to help. Affordable rates with service directly to your home or buisness.             
                    </div>
                </div> 
            </section>

            <section class = "service">
                <div class="service-image" style="background-image: url(images/services1.png);"></div>
                <div class="service-title">Website Construction</div>
                <div class="service-details">
                    <div>
                        We offer high quality website design, contsruction and maintainence for at reasonable prices. In addition to website construction, we can providing assistance with hosting, SEO, and customized content management systems.      
                    </div>
                </div> 
            </section>

            <section class = "service">
                <div class="service-image" style="background-image: url(images/services1.png);"></div>
                <div class="service-title">Software setup</div>
                <div class="service-details">
                    <div>
                        We also provide assistance for software setup. Whether it be troubleshooting home software for personal use, or installing software for buisness use.         
                    </div>
                </div> 
            </section>
        </div>

    </article>

    <%- include('includes/footer'); %>
</body>

</html>